*{
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

body {
  flex-direction: column;  
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-top: 30px;
}

h1{
  margin-bottom: 30px;
}

label, input {  
  margin-bottom: 10px;
}

form {
 display: flex;
 flex-direction: column;
}